:root { --pan-color: #090; --pan-layout-left-width: 100vw; --pan-layout-left-left: calc(var(--pan-layout-left-width) * -1); --pan-layout-left-background-color: rgba(0, 122, 204, .7); --pan-layout-left-background-image: url(../images/left-background.jpg); --pan-layout-left-top-height: 300px; --pan-layout-left-bottom-height: 70px; --pan-layout-left-middle-border: 1px solid rgba(255, 255, 255, .3); --pan-layout-left-close-btn-display: block; --pan-layout-right-left: 0px; --pan-layout-right-right: 0px; --pan-layout-header-height: 50px; --pan-layout-footer-height: 30px; --pan-menutoggle-display: block; --pan-overlay-display: none; }

@media (min-width: 576px) { :root { --pan-layout-left-width: 340px; --pan-layout-left-close-btn-display: none; } }
@media (min-width: 768px) { :root { --pan-layout-left-left: 0px; --pan-layout-right-left: var(--pan-layout-left-width); --pan-menutoggle-display: none; } }
html, body { margin: 0px !important; padding: 0px !important; font-family: 'Roboto', sans-serif; font-size: 1rem; color: #333; width: 100vw; height: 100vh; overflow-x: hidden; }

body .ui-body-c, body .ui-overlay-c, body .ui-overlay-a, body .ui-page-theme-a, body .ui-page-theme-a .ui-panel-wrapper { text-shadow: 0 0 0 !important; }

*, *:before, *:after { box-sizing: border-box; }

a, a:link, a:visited { color: #007acc; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { font-size: 1.8rem; }

h2 { font-size: 1.4rem; }

h3 { font-size: 1rem; }

h4 { font-size: .8rem; }

h5 { font-size: .7rem; }

h6 { font-size: .6rem; }

.pan-text-lighter { font-weight: lighter; }

.pan-layout { display: block; position: absolute; top: 0px; left: 0px; width: 100vw; height: 100vh; min-height: 500px; overflow: hidden; }
.pan-layout > * { transition: all .3s ease-in-out; }
.pan-layout-overlay { display: var(--pan-overlay-display); cursor: pointer; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.2); z-index: 100000; }
.pan-layout.pan-menu-open { --pan-layout-left-left: 0px; --pan-layout-right-left: var(--pan-layout-left-width); --pan-layout-right-right: calc(var(--pan-layout-left-width) * -1); --pan-overlay-display: block; }

.pan-layout-left { display: block; position: absolute; top: 0px; bottom: 0px; left: var(--pan-layout-left-left); width: var(--pan-layout-left-width); background-image: var(--pan-layout-left-background-image); background-repeat: no-repeat; background-position: center; background-size: cover; color: #FFF; z-index: 100500; }
.pan-layout-left:before { display: block; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; content: ""; background-color: var(--pan-layout-left-background-color); }
.pan-layout-left > * { position: absolute; left: 0px; right: 0px; }
.pan-layout-left h1, .pan-layout-left h2, .pan-layout-left h3, .pan-layout-left h4, .pan-layout-left h5, .pan-layout-left h6 { margin: 0px; }
.pan-layout-left__top { top: 0px; height: var(--pan-layout-left-top-height); }
.pan-layout-left__middle { top: var(--pan-layout-left-top-height); bottom: var(--pan-layout-left-bottom-height); border-top: var(--pan-layout-left-middle-border); border-bottom: var(--pan-layout-left-middle-border); overflow-y: auto; overflow-x: visible; }
.pan-layout-left__bottom { height: var(--pan-layout-left-bottom-height); bottom: 0px; }
.pan-layout-left__bottom > * { display: block; position: absolute; left: 10px; right: 10px; }
.pan-layout-left__small { top: 0px; height: 20px; font-size: .8rem; }
.pan-layout-left__small > * { top: 50%; position: relative; transform: translateY(-50%); }
.pan-layout-left__social { top: 20px; bottom: 0px; overflow-x: auto; overflow-y: hidden; font-size: 1.4rem; padding-top: 15px; }
.pan-layout-left__social ul { list-style: none; display: table; padding: 0px; margin: 0px; }
.pan-layout-left__social ul > li { display: table-cell; padding-right: 30px; margin: 0px; }
.pan-layout-left__social ul > li a { color: #FFF; }
.pan-layout-left__avatar { position: absolute; top: 0px; left: 0px; right: 0px; height: 200px; }
.pan-layout-left__avatar img { display: block; margin: 0px auto; width: 150px; height: 150px; border-radius: 50%; position: relative; top: 50%; transform: translateY(-50%); }
.pan-layout-left__info { position: absolute; top: 200px; bottom: 0px; left: 5px; right: 5px; text-align: center; text-transform: uppercase; }
.pan-layout-left__title { font-size: 1.5rem; white-space: nowrap; overflow-x: auto; overflow-y: hidden; }
.pan-layout-left__subtitle { font-weight: lighter; }
.pan-layout-left__menu { display: block; list-style: none; padding: 0px; margin: 0px; }
.pan-layout-left__menu > li { display: block; padding: 0px; margin: 0px; }
.pan-layout-left__menu > li:hover { background-color: rgba(255, 255, 255, 0.1); }
.pan-layout-left__menu > li.active { background-color: rgba(255, 255, 255, 0.3) !important; }
.pan-layout-left__menu > li > a { display: block; padding: 15px 15px 15px 30px; color: #FFF !important; text-decoration: none !important; }
.pan-layout-left__close { left: unset; top: 0px; padding: 10px 15px; color: #FFF; cursor: pointer; z-index: 10; display: var(--pan-layout-left-close-btn-display); }

.pan-layout-right { display: block; position: absolute; top: 0px; bottom: 0px; left: var(--pan-layout-right-left); right: var(--pan-layout-right-right); overflow-x: hidden; }

.pan-layout-header { position: absolute; top: 0px; left: 0px; right: 0px; height: var(--pan-layout-header-height); background-color: #FFF; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); z-index: 10; }
.pan-layout-header > * { position: absolute; top: 0px; bottom: 0px; }
.pan-layout-header > * > * { top: 50%; position: relative; transform: translateY(-50%); }
.pan-layout-header__menutoggle { display: var(--pan-menutoggle-display); cursor: pointer; left: 0px; width: 50px; border-right: 1px solid #F0F0F0; text-align: center; }
.pan-layout-header__content { left: 50px; right: 0px; padding: 0px 20px; }
.pan-layout-header__avatar { text-align: right; top: 50%; position: relative; transform: translateY(-50%); }
.pan-layout-header__avatar:before, .pan-layout-header__avatar:after { display: block; content: ""; clear: both; width: 0px; height: 0px; }
.pan-layout-header__avatar > * { margin-left: 10px; }
.pan-layout-header__avatar img { width: 40px; height: 40px; border-radius: 50%; vertical-align: middle; }

.pan-layout-footer { position: absolute; bottom: 0px; left: 0px; right: 0px; height: var(--pan-layout-footer-height); background-color: #FFF; border-top: 1px solid #CCC; font-size: .75rem; text-align: right; z-index: 5; }
.pan-layout-footer > * { position: relative; top: 50%; transform: translateY(-50%); padding: 0px 20px; }

.pan-layout-content { position: absolute; left: 0px; right: 0px; top: var(--pan-layout-header-height); bottom: var(--pan-layout-footer-height); background-color: #FFF; padding: 20px; overflow: auto; overflow-x: hidden; }
.pan-layout-content h1 { margin: 0px 0px 20px 0px; padding: 0px 0px 10px 0px; border-bottom: 1px solid #F0F0F0; }

:root { --pan-layout-left-background-color: rgba(0, 122, 204, 0); --pan-layout-left-background-image: url(../images/starry.jpg); }

.pan-layout-content { line-height: 200%; }

.pan-layout-left__social ul > li { padding-right: 6px; }

iframe { height: 80%; width: 100%; }

#paper_iframe { height: 93%; }
